.wrap {
    margin-top: 15px;
    background: #262626;
    padding: 15px 30px 30px 35px;
    position: relative;
}

.fileName {
    font-weight: bold;
    font-size: 14px;
    word-wrap: break-word;
}

.errorMessage {
    font-size: 14px;
    margin-top: 10px;
    word-wrap: break-word;
}

.icon {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 14px;
    color: #FF1414;
}