.wrap {
    font-size: 14px;
}

.row {
    display: flex;
    padding-right: 30px;
}

.row:not(:last-child) {
    margin-bottom: 20px;
}

.name {
    width: 75px;
}

.value {
    padding-left: 10px;
}