_ReSharper*
bin/
deploy/
*.swp
obj/
*.user
*.suo
.gitk*
*AssemblyTitle.cs
.nuget/
/packages/
node_modules/
storybook-static/
.vs/
dist
.tmp
.DS_Store
.idea
Kontur.Houston.WebPanel/settings/topology
Kontur.Houston.WebPanel/logs
*.FSharpLint
npm-debug.log
*.orig
package-lock.json
Kontur.Houston.Host/Kontur.Houston.Resources/
build/

publish/
wwwroot/
localsettings.json
*css.d.ts
yarn-error.log
yarn.lock