.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.legend {
    height: 118px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.legendItem {
    position: relative;
    padding-left: 55px;
}

.legendItemColor {
    position: absolute;
    left: 0;
    top: calc(50% - 8px);
    width: 48px;
    text-align: center;
    font-weight: bold;
    border-radius: 7px;
}

.legendItemText {
    color: #93a2b1;
}

.coast {
    font-weight: bold;
    color: #fff;
    display: inline;
}