.wrap button{
    border: none;
    background: none;
    padding: 0px 0px;

    font-size: 14px;
    color: #00A8FF;
    cursor: pointer;
}
.wrap button:hover {
    color: #0095e2;
}
.wrap button:active {
    color: #007ebf;
}
.wrap button:focus {
    outline: none;
}
