@font-face {
  font-family: 'Segoe UI';
  src: url('../fonts/SegoeUI.eot');
  src: local('Segoe UI'), local('SegoeUI'),
  url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SegoeUI.woff') format('woff'),
  url('../fonts/SegoeUI.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../fonts/SegoeUI-SemiBold.eot');
  src: local('Segoe UI SemiBold'), local('SegoeUISemiBold'),
  url('../fonts/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SegoeUI-SemiBold.woff') format('woff'),
  url('../fonts/SegoeUI-SemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html {
  font-family: Segoe UI, sans-serif;
  letter-spacing: 0;
  color: #fff;
  line-height: 20px;

  height: 100%;
  background: #000000;
}
body {
  margin: 0;
  padding: 0;
}
